@use "./variables" as *;

// Layout
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Type Kit
// Mobile Text Style

@mixin page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Next Bold";
}
@mixin section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Next Bold";
}
@mixin sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
}

@mixin body-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
}

@mixin footer-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
}

@mixin labels-buttons {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Bold";
}

// Desktop & Tablet Text Style

@mixin desktop_tablet_page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-family: "Avenir Next Bold";
}

@mixin desktop_tablet_section-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "Avenir Next Bold";
}

@mixin desktop_tablet_subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Next Demi";
}

@mixin desktop_tablet_body-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Regular";
}

@mixin dekstop_tablet_footer-copy {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Regular";
}

@mixin desktop_tablet_labels-buttons {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Bold";
}
