$BandSite-color: #323232;
$Silver-color: #afafaf;
$White-color: #ffffff;
$Mercury-color: #e1e1e1;
$Alabaster-color: #fafafa;

$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next Demi";
$font-bold: "Avenir Next Bold";
