@font-face {
  font-family: "Avenir Next Regular";
  font-weight: 400;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
}
@font-face {
  font-family: "Avenir Next Demi";
  font-weight: 600;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2");
}
@font-face {
  font-family: "Avenir Next Bold";
  font-weight: 700;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #323232;
  padding: 1rem 0 0 0;
}
header ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: #e1e1e1;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    gap: 4rem;
    padding: 2.25rem 0 0 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 7rem;
  }
}
.header__logo-img {
  display: flex;
  padding: 0 0 0.5rem 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header__logo-img {
    width: 7.5rem;
  }
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0 0 1rem 1rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    padding-left: 0;
  }
}
.header__list {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
  display: flex;
}
@media (min-width: 768px) {
  .header__list {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
    gap: 4rem;
  }
}
.header__active {
  border-bottom: 0.1875rem solid #ffffff;
}
.header__active-link {
  color: #ffffff;
}
.header__inactive:hover {
  border-bottom: 0.1875rem solid #ffffff;
}
@media (min-width: 768px) {
  .header__inactive:hover {
    border-bottom: 0.1875rem solid #ffffff;
    width: 18%;
  }
}
.header__item {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Regular";
  text-align: center;
  color: #e1e1e1;
  width: 50%;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .header__item {
    padding: 0 2.25rem 0 0;
    width: 28%;
    padding-bottom: 1.4rem;
  }
}

.hero {
  margin: 0 0 1.5rem 0;
  width: 100%;
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/Images/hero-bio.jpg);
}
@media (min-width: 768px) {
  .hero {
    height: 50vh;
    margin: 0 0 3rem 0;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 70vh;
  }
}
.hero__overlay {
  width: 100%;
  height: 20vh;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__overlay {
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero__overlay {
    height: 70vh;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Next Bold";
  color: #ffffff;
  font-family: "Avenir Next Demi";
  padding: 0 0 0 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "Avenir Next Bold";
    font-family: "Avenir Next Demi";
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 7rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}
@media (min-width: 768px) {
  .info {
    margin: 0 2.25rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .info {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.info__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Next Bold";
  font-family: "Avenir Next Demi";
  color: #323232;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .info__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Next Bold";
    font-family: "Avenir Next Demi";
    padding: 0 0 2.25rem 0;
  }
}
.info__image {
  width: 100%;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .info__image {
    width: 100%;
    height: 22rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 2rem 0 2rem;
  }
}
@media (min-width: 1280px) {
  .info__image {
    width: 80%;
    height: 30rem;
    padding: 0 0 2rem 0;
  }
}
@media (min-width: 768px) {
  .info__card {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .info__card {
    justify-content: space-evenly;
  }
}
.info__quote, .info__quote-owner {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
  color: #323232;
}
@media (min-width: 768px) {
  .info__quote, .info__quote-owner {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next Demi";
    text-align: left;
    margin: 0 2rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .info__quote, .info__quote-owner {
    margin: 0 12rem 0 6.6rem;
  }
}
.info__quote-owner {
  padding: 0 0 1.5rem 0;
}
@media (min-width: 768px) {
  .info__quote-owner {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next Demi";
    font-size: 1rem;
    padding: 0.5rem 0 0 0;
  }
}
@media (min-width: 1280px) {
  .info__quote-owner {
    width: 100%;
    margin: 0 12rem 0 6.5rem;
  }
}
.info__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
  font-family: "Avenir Next Regular";
  padding: 0 0 16px 0;
}
@media (min-width: 768px) {
  .info__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next Demi";
    margin: 0 2.25rem 0 2.25rem;
    padding: 2.25rem 0 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .info__subheader {
    margin: 0 12rem 0 6.5rem;
  }
}
@media (min-width: 768px) {
  .info__containar {
    display: flex;
    justify-content: space-between;
    margin: 0 2.25rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .info__containar {
    margin: 0 5rem 0 6.5rem;
  }
}
.info__description {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
  color: #323232;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .info__description {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
    padding: 0 2rem 3rem 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 768px) {
  .info__description--padding {
    padding-right: 0.5rem;
  }
}

.gallery {
  background-color: #fafafa;
}
.gallery__section {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gallery__section {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__section {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.gallery__image {
  width: 100%;
  padding: 0 0 1rem 0;
  filter: grayscale(1);
}
@media (min-width: 768px) {
  .gallery__image {
    width: 31%;
    padding: 0;
  }
}
.gallery__image:hover {
  filter: none;
}
.gallery__title {
  padding: 1rem 0 1rem 1rem;
  font-family: "Avenir Next Demi";
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Next Bold";
    font-family: "Avenir Next Demi";
    padding: 3rem 0 2rem 0;
  }
}
.gallery__card {
  margin: 0 1rem 0 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
@media (min-width: 768px) {
  .gallery__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
}

.comments-section {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .comments-section {
    margin: 0 2.25rem 0 2.25rem;
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments-section {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
.comments-section__subheader {
  font-family: "Avenir Next Demi";
  color: #323232;
}
@media (min-width: 768px) {
  .comments-section__subheader {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Next Bold";
    font-family: "Avenir Next Demi";
    padding: 2.25rem;
    padding-left: 0;
  }
}
.comments-section__profile-image {
  display: inline-block;
  width: 2.5rem;
  height: 2.3rem;
  border-radius: 50%;
  margin-top: 2.6rem;
}
@media (min-width: 768px) {
  .comments-section__profile-image {
    width: 3.125rem;
    height: 3.125rem;
  }
}
.comments-section__form {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
.comments-section__container {
  display: flex;
  justify-content: center;
}
.comments-section__form-title {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Bold";
  padding: 1rem 0 0.5rem 0;
  color: #afafaf;
  font-family: "Avenir Next Demi";
}
.comments-section__form-card {
  height: 2.25rem;
  padding: 0.75rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  background-color: #fafafa;
  width: 250px;
}
@media (min-width: 768px) {
  .comments-section__form-card {
    height: 3rem;
    width: 34.375rem;
    padding: 1rem;
  }
}
.comments-section__form-card--size {
  height: 6.25rem;
  padding-top: 0;
  padding-bottom: 3.125rem;
}
.comments-section__form-button {
  display: block;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  margin: 1rem 0 0 0;
  background-color: #323232;
  color: #ffffff;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Bold";
  font-family: "Avenir Next Demi";
  font-size: 0.8125rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .comments-section__form-button {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .comments-section__button-container {
    display: flex;
    justify-content: end;
  }
}

.posted-comments {
  margin: 0 1rem 0 1rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .posted-comments {
    margin: 0 2.25rem 0 2.25rem;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .posted-comments {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.posted-comments__user-comment {
  width: 100%;
  display: flex;
  border-top: 1px solid #e1e1e1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .posted-comments {
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .posted-comments {
    width: 48%;
  }
}
.posted-comments__placeholder-img {
  display: inline-block;
  background-color: #e1e1e1;
  gap: 4px;
  width: 2.5rem;
  height: 2.3rem;
  border-radius: 50%;
}
.posted-comments__card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.posted-comments__name-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.posted-comments__comment-text-container {
  width: 100%;
}
.posted-comments__text {
  width: 100%;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
}
@media (min-width: 768px) {
  .posted-comments__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
  }
}
.posted-comments__username {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
}
@media (min-width: 768px) {
  .posted-comments__username {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
    font-family: "Avenir Next Demi";
  }
}
.posted-comments__date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
  color: #afafaf;
}
@media (min-width: 768px) {
  .posted-comments__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
  }
}

footer {
  background-color: #323232;
  color: #ffffff;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  padding: 0 1rem 0 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__card {
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  .footer__card {
    order: -2;
    flex: 1 0 50%;
    display: flex;
    align-items: baseline;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Next Bold";
  padding: 0 0 1rem 0;
  font-family: "Avenir Next Demi";
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Next Bold";
    font-family: "Avenir Next Demi";
    padding: 0 1.2rem 0 0;
  }
}
@media (min-width: 768px) {
  .footer__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
  }
}
.footer__icons {
  padding: 0 1.5rem 0 0;
}
@media (min-width: 768px) {
  .footer__icons {
    padding: 0 1.5rem 0 0;
  }
}
@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 0 0;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    padding: 0 2.25rem 0 0;
  }
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
  color: #ffffff;
}
.footer__contact-company {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Next Demi";
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .footer__contact-company {
    padding-bottom: 32px;
  }
}
.footer__contact-info, .footer__contact-email {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
}
@media (min-width: 768px) {
  .footer__contact-info, .footer__contact-email {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
  }
}
.footer__contact-email {
  padding: 1rem 0 1rem 0;
}
@media (min-width: 768px) {
  .footer__contact-email {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
    padding: 2rem 0 1rem 0;
  }
}
.footer__logo {
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo {
    order: -1;
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
  }
}
.footer__copyright-info {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Bold";
  font-size: 0.7rem;
  padding: 1rem 0 1rem 0;
  font-family: "Avenir Next Regular";
}
@media (min-width: 768px) {
  .footer__copyright-info {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Avenir Next Regular";
    padding: 2rem 0 2rem 0;
  }
}/*# sourceMappingURL=bio.css.map */