@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/fonts" as *;
@use "../styles/partials/global" as *;

// Header Section

header {
  background-color: $BandSite-color;
  color: $White-color;
  padding: 1rem 1rem 1rem 1rem;

  ul {
    list-style: none;
  }
}

.header {
  &__logo {
    display: flex;
    padding: 0 0 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__divider {
    border-bottom: 3px solid $Mercury-color;
    position: relative;
    width: 55%;
    top: 1rem;
    right: 1rem;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    font-family: $font-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &__item--inactive {
    color: #afafaf;
    font: $font-regular;
  }
}

.hero {
  padding: 0 0 1.5rem 0;
  position: relative;

  &__container {
    background-image: url(/assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 12rem;
    position: relative;
  }

  &__title {
    color: $White-color;
    font-family: $font-demi;
    font-size: 1.5rem;
    padding: 0 0 0 1rem;
    position: absolute;
    top: 4.5rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  &__title {
    font-family: $font-demi;
    color: $BandSite-color;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 0 1rem 0;
  }
  &__image {
    padding: 0 0 1rem 0;
  }
  &__quote {
    font-family: $font-demi;
    color: $BandSite-color;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  &__quote-owner {
    @extend .info__quote;
    padding: 0 0 1.5rem 0;
  }
  &__subheader {
    font-family: $font-regular;
    font-size: 0.875rem;
    padding: 0 0 16px 0;
  }
  &__quote-owner {
    padding: 0.3125rem 0 1rem 0;
  }
  &__description {
    font-family: $font-regular;
    color: $BandSite-color;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding: 0 0 1rem 0;
  }
}

.gallery {
  margin: 0 1rem 0 1rem;
  background-color: $Alabaster-color;

  &__image {
    width: 100%;
    padding: 0 0 1rem 0;
  }
  &__title {
    padding: 1.5rem 0 1rem 0;
    font-family: $font-demi;
    color: $BandSite-color;
  }
}

footer {
  background-color: $BandSite-color;
  color: #ffffff;
}

.footer {
  padding: 0 1rem 0 1rem;

  &__card {
    padding: 1.5rem 0 1rem 0;
  }
  &__title {
    padding: 0 0 1rem 0;
    font-family: $font-demi;
    line-height: 2rem;
    color: $White-color;
  }
  &__icons {
    padding: 0 1rem 0 0;
  }
  &__contact-name {
    font-family: $font-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: $White-color;
  }
  &__contact-company {
    padding: 0 0 1rem 0;
    font-family: $font-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &__contact-info {
    font-family: $font-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  &__contact-email {
    @extend .footer__contact-info;
    padding: 1rem 0 1rem 0;
  }
  &__copyright-card {
    padding: 1.5rem 0 0 0;
  }
  &__copyright-info {
    padding: 1rem 0 1rem 0;
    font-family: $font-regular;
    font-size: 0.6875rem;
    line-height: 1.125rem;
  }
}
