@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/fonts" as *;
@use "../styles/partials/global" as *;

// Header Section

header {
  background-color: $BandSite-color;
  padding: 1rem 0 0 0;

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $Mercury-color;
  }
}

.header {
  @include tablet {
    display: flex;
    gap: 3rem;
    padding: 2.25rem 0 0 1rem;
  }
  &__logo-img {
    display: flex;
    padding: 0 0 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: 120%;
    }
  }
  &__logo {
    @include tablet {
      padding: 0 0 1rem 1rem;
    }
  }

  &__list {
    @include sub-header;
    display: flex;
    @include tablet {
      gap: 2rem;
    }

    font-family: $font-demi;
    @include tablet {
      @include desktop_tablet_body-copy;
    }
  }

  &__active {
    border-bottom: 0.1875rem solid $White-color;
  }

  &__link {
    color: #ffffff;
  }

  &__item {
    text-align: center;
    color: $Mercury-color;
    width: 50%;
    padding-bottom: 0.5rem;
    @include tablet {
      padding: 0 2.25rem 0 0;
      width: 35%;
      padding-bottom: 1.4rem;
    }
  }
}

.hero {
  margin: 0 0 1.5rem 0;
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/Images/hero-bio.jpg);
  @include tablet {
    height: 50vh;
    margin: 0 0 3rem 0;
  }

  &__overlay {
    width: 100%;
    height: 30vh;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    @include tablet {
      height: 50vh;
    }
  }

  &__title {
    @include page-header;
    color: $White-color;
    font-family: $font-demi;
    padding: 0 0 0 1rem;
    @include tablet {
      @include desktop_tablet_page-header;
      padding-left: 2.25rem;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  @include tablet {
    margin: 0 2.25rem 0 2.25rem;
  }
  &__title {
    @include section-header;
    font-family: $font-demi;
    color: $BandSite-color;
    padding: 0 0 1rem 0;
    @include tablet {
      @include desktop_tablet_section-header;
      padding: 0 0 2.25rem 0;
    }
  }
  &__image {
    width: 100%;
    padding: 0 0 1rem 0;
    @include tablet {
      width: 90%;
      height: 35vh;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__card {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__quote {
    @include sub-header;
    font-family: $font-demi;
    color: $BandSite-color;
    @include tablet {
      text-align: left;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 0 2.25rem 0 2.25rem;
    }
  }
  &__quote-owner {
    @extend .info__quote;
    padding: 0 0 1.5rem 0;
    @include tablet {
      @include desktop_tablet_body-copy;
      padding: 1rem 0 0 0;
    }
  }
  &__subheader {
    @include sub-header;
    font-family: $font-regular;
    padding: 0 0 16px 0;
    @include tablet {
      @include desktop_tablet_subheader;
      font-family: $font-demi;
      margin: 0 2.25rem 0 2.25rem;
      padding: 2.25rem 0 2.25rem 0;
    }
  }

  &__containar {
    @include tablet {
      display: flex;
      justify-content: space-between;
      margin: 0 2.25rem 0 2.25rem;
    }
  }

  &__description {
    @include body-copy;
    font-family: $font-regular;
    color: $BandSite-color;
    padding: 0 0 1rem 0;
    @include tablet {
      @include desktop_tablet_body-copy;
      padding: 0 2rem 3rem 0;
    }
  }
}

.gallery {
  background-color: $Alabaster-color;
  padding: 0 0 2.25rem 0;

  &__image {
    width: 100%;
    padding: 0 0 1rem 0;
    @include tablet {
      width: 31%;
    }
  }
  &__title {
    padding: 1.5rem 0 1rem 1rem;
    font-family: $font-demi;
    color: $BandSite-color;
    @include tablet {
      @include desktop_tablet_section-header;
      margin: 0 2.25rem 0 2.25rem;
      padding: 3rem 0 0 0;
    }
  }

  &__card {
    margin: 0 1rem 0 1rem;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

footer {
  background-color: $BandSite-color;
  color: #ffffff;
}

.footer {
  padding: 0 1rem 0 1rem;

  &__card {
    padding: 1.5rem 0 1rem 0;
  }
  &__title {
    @include section-header;
    padding: 0 0 1rem 0;
    font-family: $font-demi;
    color: $White-color;
  }
  &__icons {
    padding: 0 1rem 0 0;
  }
  &__contact-name {
    @include sub-header;
    font-family: $font-demi;
    color: $White-color;
  }
  &__contact-company {
    @include sub-header;
    padding: 0 0 1rem 0;
    font-family: $font-demi;
  }

  &__contact-info {
    @include body-copy;
    font-family: $font-regular;
  }
  &__contact-email {
    @extend .footer__contact-info;
    padding: 1rem 0 1rem 0;
  }
  &__copyright-card {
    padding: 1.5rem 0 0 0;
  }
  &__copyright-info {
    @include labels-buttons;
    padding: 1rem 0 1rem 0;
    font-family: $font-regular;
  }
}
